@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  font-family: 'Oxygen', sans-serif;
  background-color: #D3D3D3;
}

article {
  width: 270px;
  height: 250px;
}

img {
  width: 270px;
  height: 250px;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

ul li {
  list-style: none;
  padding: 15px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.help {
  text-align: center;
  font-size: 17px;
  border-top: 2px dotted#D1ACAC;
  border-bottom: 2px dotted#D1ACAC;
  width: 68%;
  margin: auto;  
}

.call {
  color: red;
  position: relative;
  top: 35px;
  right: 13px;
  font-size: 34px;
}

h2 {
  color: blue;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  padding-top: 30px;
}

button {
  background-color: #F4A361;
  color: #fff;
  width: 180px;
  padding: 15px;
  font-size: 20px;
  margin: auto;
  display: block;
  margin-top: 60px;
}
