@import url('https://www.google.com/fonts#UsePlace:use/Collection:Vollkorn');

body {
  font-family: 'Tahoma', sans-serif;
  width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}

h1, h2, h3 {
  font-family: 'Vollkorn', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: normal;
  background-color: silver;
  padding: 30px 40px;
  margin: 0;
}

h3 {
  font-size: 60px;
}

article {
  display: inline-block;
  vertical-align: top;
  width: 317px;
  height: 600px;
  text-align: center;
  margin-left: 9px;
  border: 1px solid black;
  position: relative;
}

p {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: left;
  width: 267px;
  padding: 6px;
  margin-left: 17px;
  margin-bottom: 17px;
}

button {
  color: #fff;
  padding: 13px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0px;
  right: 9px;
}
