body {
  margin: 0;
  padding: 0;
}

main {
  width: 322px;;
  margin: auto;
}

div {
  margin: auto;
}

.left, .right, .center {
  padding: 15px;
  width: 110px;
  text-align: center;
  background-color: blue;
  border-radius: 10px;
}

.left {
  margin-right: 10px;
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto;
}