body {
  font-family: OpenSans-ExtraBold, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
  background-color: silver;
}

section {
  width: 1200px;
  margin-left: 75px;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

h3, h4 {
  text-align: center;
  font-weight: bold;
}

article {
  display: inline-block;
  width: 220px;
  margin-left: 26px;
  padding: 10px;
}

article:hover {
  background-color: #fff;
  border-left: 13px solid green;
  cursor: pointer;
}