body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

li {
    display: inline;
    padding: 20px;
    height: 40px;
    line-height: 40px;
}

ul {
    margin: 0;
    padding: 0;
    background-color: #444;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}